<html>
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta charset='utf-8' />
    <title>Sales Statement </title>
  </head>
  <body>

    <div>
      <h4>
        Sales Statement for
        {{user_name}}
        ({{start_date}}
        -
        {{end_date}})
      </h4>
    </div>
    <p>Hello {{user_name}} </p>
    <p>Below is your sales statements</p>

    <p>Total sale made: {{total_products_sale}}</p>
    <p>Total Commission Earned: {{total_commission}}</p>
     <p>Total Unpaid Commission: {{total_unpaid_commission}}</p>

    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>quantity</th>
          <th>Sale Value</th>
          <th>Commission</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>
              {{this.product_name}}
            </td>
            <td>
              Ksh.
              {{this.price}}
            </td>
            <td>{{this.quantity}}</td>
            <td>Ksh.{{this.total_value}}</td>
            <td>Ksh.{{this.commission}}</td>
            <td>{{this.date_sold}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>Keep up the good work!!</p>
    <p>Incourage</p>
  </body>
</html>